+*
*~
*.exe
*.elc
*.la
*.lo
*.o
*.star
.svn
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
Makefile.in
Makefile

